<div class="container">
  <div class="logo">
    <div class="borM">

  <img  (click) = "VolverIndex()" class="imagen-izquierda"src="assets/logo3.png" alt="Imagen" >

  <img  (click) = "VolverIndex()" class="imagen-izquierda"src="assets/Inmobewise_logo2.jpeg" alt="Imagen" >

  </div>
</div>

<div class="contenedor_enlaces">
    <div class="menu">
         <ul>
            <li class="dropdown">
                <a href="#">Adquirir</a>
                <div class="dropdown-content">
                    <a href="#">Opción 1</a>
                    <a href="#">Opción 2</a>
                    <a href="#">Opción 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Alquilar</a>
                <div class="dropdown-content">
                    <a href="#">Opción A</a>
                    <a href="#">Opción B</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Momentáneo</a>
                <div class="dropdown-content">
                    <a href="#">Opción X</a>
                    <a href="#">Opción Y</a>
                    <a href="#">Opción Z</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Crecimientos</a>
                <div class="dropdown-content">
                    <a href="#">Opción A1</a>
                    <a href="#">Opción A2</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">Atención</a>
                <div class="dropdown-content">
                    <a href="#">Opción 1A</a>
                    <a href="#">Opción 2A</a>
                    <a href="#">Opción 3A</a>
                </div>
            </li>
        </ul>
        
        <div class="MovimientoBoton">
          <div class="container">
            <button  class="button" (click)="mostrarVentana()">Ofrecer</button>
    
            <div class="boton2">
              <button class="butto"  (click)="navegacion()" >Ingresar</button>
              </div> 
        </div>
    




















  </div>

