
<!-- Tu comentario aquí -->
<!-- <nav>
    <ul>
        <a routerLink="/home" routerLinkActive="active-link">Inicio</a>
        <a routerLink="/Pagina1" routerLinkActive="active-link">Pagina1</a>
        <a routerLink="/Pagina2" routerLinkActive="active-link">Pagina2</a>
        
    </ul>
</nav> -->

<!-- menu.component.html -->
  <!-- menu.component.html -->
  
  
  <div class="container">
    <div class="logo">
      <div class="borM">
    <img  class="imagen-izquierda"src="assets/logo.png" alt="Imagen" >
    </div>
  </div>
    
    <div class="contenedor_enlaces">
    <ul class="menu-horizontal">
      <li><a href="#">Comprar</a></li>
      <li><a href="#">Rentar</a></li>
      <li><a href="#">Servicios</a></li>
      <!-- Agrega más opciones de menú si es necesario -->
    </ul>
    <div class="MovimientoBoton">
      <button class="button" (click)="publi()">Publicar</button>


    </div>
  
  </div>
    
       <!--   <img src="assets/user.png" class="imagen-estilo"> -->
         <!-- Creacion2  -->
      <div class="boton2">
      <button class="butto"  (click)="navegacion()" >Ingresar</button>
      </div> 
      
 
  

    
  
  
</div>
 

  

     