<div class="container">
  <div class="logo">
    <div class="borM">
  <img  (click) = "VolverIndex()" class="imagen-izquierda"src="assets/logo.png" alt="Imagen" >
  </div>
</div>
  
  <div class="contenedor_enlaces">
  <ul class="menu-horizontal">
    <li><a href="#">Comprar</a></li>
    <li><a href="#">Rentar</a></li>
    <li><a href="#">Servicios</a></li>
    <!-- Agrega más opciones de menú si es necesario -->
  </ul>
  <div class="MovimientoBoton">
    <div class="container">
      <button  class="button" (click)="mostrarVentana()">Ofrecer</button>
    
      <!-- Ventana flotante -->
      <div class="ventana" [ngClass]="{'visible': ventanaVisible}">
        <div class="contenido">
          <button  class="button4"(click)="cerrarVentana()">
            <span class="X"></span>
          <span class="Y"></span>
           <div class="close">Close</div>
          </button>
          <h1> ¿Con qué descripción te identificas? </h1> 
          <h2>Elige la opción que mejor se adapte a tus gustos.</h2>
          <div class="imagenes-horizontales">
            <div class="imagen-container">
                <img src="assets/Casa3.png" alt="Imagen 1">
                <button (click) = "formulario()"  class="butto1">Particular Dueño Directo</button>
            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="imagen-container">
                <img src= "assets/arquitecto.png" alt="Imagen 2">
                <button (click) = "formulario()"  class="butto1">Inmobiliaria Corredor</button>
            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="imagen-container">
                <img src="assets/agente.png" alt="Imagen 3">
                <button  (click) = "formulario()" class="butto1">Constructora Desarrolladora</button>
            </div>
      
          
         

          
  
         
              
              
              
        </div>
      </div>
    </div>
   


  </div>

</div>
  
     <!--   <img src="assets/user.png" class="imagen-estilo"> -->
       <!-- Creacion2  -->
    <div class="boton2">
    <button class="butto"  (click)="navegacion()" >Ingresar</button>
    </div> 


</div>


