<!--****************************************************-->
<!--****************************************************-->
<!--****************************************************-->
<!-- Esta es la pagina de los resultados de la busqueda -->
<!--****************************************************-->
<!--****************************************************-->
<!--****************************************************-->

<link rel="stylesheet" href="resultsearch.component.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<app-navmenu></app-navmenu>
<div class="divider"></div>
 
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="resultsearch">
     
        <nav class="navbar">
            
                <div class="buscador">
                <input class="form-control" type="search" placeholder="Ingresa tu ciudad o Localidad" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">
                    <img class="lupa">
                </button>
                </div>

                <button class="btn btn-outline-success me-2" type="button" (click)="togglePrecio()">Precio <img class="arrow1"></button>
                  <ul *ngIf="showPrecio" class="dropdown-list">
                    <li><a>Opción 1</a></li>
                    <li><a>Opción 2</a></li>
                    <li><a>Opción 3</a></li>
                  </ul>

                <button class="btn btn-outline-success me-2" type="button" (click)="toggleToferta()">Tipo de Oferta <img class="arrow1"></button>
                  <ul *ngIf="showToferta" class="dropdown-list">
                    <li><a>Renta</a></li>
                    <li><a>Remate</a></li>
                    <li><a>En construcción</a></li>
                  </ul>

                <button class="btn btn-outline-success me-2" type="button" (click)="toggleInmueble()">Inmueble <img class="arrow1"></button>
                  <ul *ngIf="showInmueble" class="dropdown-list">
                    <li><a>Departamento</a></li>
                    <li><a>Flex</a></li>
                    <li><a>Rancho</a></li>
                  </ul>

                <button class="btn btn-outline-success me-2" type="button" (click)="toggleRecamaras()">Recamaras <img class="arrow1"></button>
                  <ul *ngIf="showRecamaras" class="dropdown-list">
                    <li><a>Opción 1</a></li>
                    <li><a>Opción 2</a></li>
                    <li><a>Opción 3</a></li>
                  </ul>


                <button class="btn btn-outline-success me-2" type="button">Filtrar <img class="filter"></button>
              
          </nav>


    <!-- Lista de Resultados -->


    <div>


      <h2>
        <!-- para la parte de base de datos remplazar los id para mandar a llamar los campos 
        y quitar los parentesis para poder mostrar una interfaz mas asosiada al usuario -->
        Encontramos este 
        (<span id="tipoInmueble"></span>) 
        disponible en (<span id="lugar"></span>) 
        para (<span id="usuarioP"></span>)
      </h2>

    <ul class="list-group">
      <li class="list-group-item">
        <h4>Resultado 1</h4>
        <p>Aqui va el resultado 1 xdxdxd.</p>
      </li>
      <li class="list-group-item">
        <h4>Resultado 2</h4>
        <p>Aqui va el resultado 2 xdxdxd.</p>
      </li>
      <li class="list-group-item">
        <h4>Resultado 3</h4>
        <p>Aqui va el resultado 3 xdxdxd.</p>
      </li>
    </ul>


  </div>





  </div>




  <app-footer></app-footer>


