<!--****************************************************-->
<!--****************************************************-->
<!--****************************************************-->
<!-- Esta es la pagina de los resultados de la busqueda -->
<!--****************************************************-->
<!--****************************************************-->
<!--****************************************************-->

<link rel="stylesheet" href="resultsearch.component.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<app-navmenu></app-navmenu>
<div class="divider"></div>
 
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="resultsearch">
      <!-- barra de busqueda y filtros -->
        <nav class="navbar">
            <!-- <div class="container-fluid"> -->
              <!-- <form class="d-flex" role="search"> -->
                <div class="buscador">
                <input class="form-control" type="search" placeholder="Ingresa tu ciudad o Localidad" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">
                    <img class="lupa">
                </button>
                </div>
                
                <button class="btn btn-outline-success me-2" type="button">Precio</button>
                <button class="btn btn-outline-success me-2" type="button">Tipo de Oferta</button>
                <button class="btn btn-outline-success me-2" type="button">Inmueble</button>
                <button class="btn btn-outline-success me-2" type="button">Recamaras</button>
                <button class="btn btn-outline-success me-2" type="button">Filtrar</button>
              <!-- </form> -->
            <!-- </div> -->
          </nav>



      

  





    <!-- Lista de Resultados -->
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Resultado 1</h4>
        <p>Aqui va el resultado 1 xdxdxd.</p>
      </li>
      <li class="list-group-item">
        <h4>Resultado 2</h4>
        <p>Aqui va el resultado 2 xdxdxd.</p>
      </li>
      <li class="list-group-item">
        <h4>Resultado 3</h4>
        <p>Aqui va el resultado 3 xdxdxd.</p>
      </li>
    </ul>





  </div>




  <app-footer></app-footer>


