<app-barralateralmenu></app-barralateralmenu>
<app-mainsection>
    <div id="containerperfil">
    </div>
    <div id="containerbarra">
    </div>
    <div class="main_section">
        <div id="menuperfil">
            <div id="fotoperfil">
            <img id="foto"src="../../../assets/perfil.png">
            </div>
            <h4>Juanito Perez</h4>
            <div>
                <ul>
                    <li><a >Informacion Personal</a></li>
                    <li><a (click)="contacto2()">Informacion de contacto</a></li>
                    <li><a (click)="contacto3()">Tu experiencia</a></li>
                    <li><a (click)="borrar()">Eliminar Perfil</a></li>
                </ul>
            </div>
        </div>

    <div id="datosperfil">     
         <div class="eliminar">
            <div class="profile_delete">
                <img src="assets/perfil.png" alt="">
                <p>Juanito Perez</p>
                <h3>¿Estas seguro de eliminar el perfil?</h3>
                <div class="botonera">
                    <button id="continuar">Continuar</button>
                    <button id="cancelar">Cancelar</button>
                </div>
            </div>
         </div>     
    </div>
        
        
        
    </div>
</app-mainsection>