
<app-barralateralmenu></app-barralateralmenu>

<div class="horizontal-line">
    <p class="verde"> Términos Y Condiciones</p>

</div>
<br>

    <div class="container">
        <h2>1. Uso del sitio web</h2>
        <p>El uso de este sitio web implica la aceptación de estos términos y condiciones. Si no está de acuerdo con estos términos, le rogamos que no utilice nuestro sitio web.</p>

        <h2>2. Propiedad intelectual</h2>
        <p>Todos los contenidos de este sitio web, incluyendo pero no limitándose a textos, imágenes, logotipos y diseños, están protegidos por derechos de autor y son propiedad de Inmobiliaria XYZ.</p>

        <h2>3. Información y precisión</h2>
        <p>La información proporcionada en nuestro sitio web se ofrece de buena fe y con fines informativos. No garantizamos la precisión ni la actualidad de la información. Usted utiliza esta información bajo su propio riesgo.</p>

        <h2>4. Privacidad</h2>
        <p>Recopilamos y procesamos sus datos personales de acuerdo con nuestra Política de Privacidad. Al utilizar nuestro sitio web, usted acepta nuestra política de privacidad.</p>

        <h2>5. Enlaces a terceros</h2>
        <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables de los contenidos ni de las políticas de privacidad de estos sitios.</p>

        <h2>6. Cambios en los términos y condiciones</h2>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios entrarán en vigencia inmediatamente después de su publicación en el sitio web.</p>

        <h2>7. Contacto</h2>
        <p>Si tiene alguna pregunta o inquietud acerca de estos términos y condiciones, puede ponerse en contacto con nosotros en <a href="mailto:info@inmobiliariaxyz.com">info@inmobiliariaxyz.com</a>.</p>

        <p>Estos términos y condiciones fueron actualizados por última vez el 19 de septiembre de 2023.</p>
    </div>

   
