<footer class="footer">
    <div class="container">
      <p>  Copyright  &copy;   Inmoplus 2023</p>
      
      <p class="texEmedio">  bo@wallsten.com <br>
        +52 55 8580 7070 <br>
       Ciudad de México, CDMX, Mexico</p>
       <img src="assets/tweter.png"   class="imagenRedes">
       <img src="assets/face1.png"   class="imagenRedes">
       <img src="assets/in.png"   class="imagenRedes">
    </div>
         <!-- texto en medio -->

        <div >
          
        </div>
         
          
        
     
        


  </footer>
