 
<footer class="text-center text-white" style="background-color: #264D5E">
  <div class="container p-3"> 
    <section class="mb-3">
       <!--Facebook--> 
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-facebook" style="font-size: 1.5rem; color: #38B6E3;"></i>
      </a>
       <!--Twitter--> 
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="bi bi-twitter" style="font-size: 1.5rem; color: #38B6E3;"></i>
      </a>
       <!--Linkedin--> 
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="bi bi-linkedin" style="font-size: 1.5rem; color: #38B6E3;"></i>
      </a>
    </section>
  
    <section class="mb-4">
      <p> bo@wallsten.com
        <br> 
        +52 55 8580 7070
        <br>
        Ciudad de México, CDMX, Mexico
      </p>
    </section>
   
  </div>
  <div class="text-center p-3" style="background-color: #38B6E3;">
    Copyright © Inmoplus 2023
    <br>
    <a class="text-white" href="https://mdbootstrap.com/">Terminos y Condiciones</a>
  </div>
   
</footer>


<!--<div class="container">
  <div class="row">
    <div class="col-3 ordenimgtex">
      <img src="../assets/Dep_Renta.jpeg">
      <h6>Nuevos departamentos en renta</h6>
    </div>
    <div class="col-3 ordenimgtex">
      <img src="../assets/Bajo_precio.jpeg">
      <h6>Inmuebles en bajo precio</h6>
    </div>
    <div class="col-3 ordenimgtex">
      <img src="../assets/Dep_vistos.jpeg">
      <h6>Renta de departamentos mas vistos</h6>
    </div>
    <div class="col-3 ordenimgtex">
      <img src="../assets/Recien_Publi.jpeg">
      <h6>Inmuebles recien publicados</h6>
    </div>
  </div>
</div>-->