<app-navmenu></app-navmenu>
<div class="horizontal-line"></div>
<br>
<br><br>
<h1>Elige tu plan Ideal</h1>
<div class = "contenedor">
<div class="container">
    <div class="plan">
        <h2>Plan Básico</h2>
        <p>Este es nuestro plan más económico, ideal para comenzar.</p>
        <p>Características:</p>
        <ul>
            <li>Función 1</li>
            <li>Función 2</li>
            <li>Función 3</li>
        </ul>
        <p class="price">$9.99/mes</p>
        <a href="#" class="btn">Comprar</a>
    </div>
    <div class="plan">
        <h2>Plan Premium</h2>
    </div>
</div>

<div class="container">
    <div class="plan">
        <h2>Plan Básico</h2>
        <p>Este es nuestro plan más económico, ideal para comenzar.</p>
        <p>Características:</p>
        <ul>
            <li>Función 1</li>
            <li>Función 2</li>
            <li>Función 3</li>
        </ul>
        <p class="price">$9.99/mes</p>
        <a href="#" class="btn">Comprar</a>
    </div>
    <div class="plan">
        <h2>Plan Premium</h2>
    </div>
</div>

<div class="container">
    <div class="plan">
        <h2>Plan Básico</h2>
        <p>Este es nuestro plan más económico, ideal para comenzar.</p>
        <p>Características:</p>
        <ul>
            <li>Función 1</li>
            <li>Función 2</li>
            <li>Función 3</li>
        </ul>
        <p class="price">$9.99/mes</p>
        <a href="#" class="btn">Comprar</a>
    </div>
    <div class="plan">
        <h2>Plan Premium</h2>
    </div>
</div>


</div>