<app-navmenu></app-navmenu>
<div class="horizontal-line"></div>
<br>
<br><br>
<h1>Elige tu plan Ideal</h1>
<div class="contenedor">
<div class="container">
    <div class="plan">
        <h2>Plan Básico</h2>
        <p>Este es nuestro plan más económico.</p>
        <p>Características:</p>
        <ul>
            <li>5 Anuncios destacados</li>
            <li>Plan con renovacion manual</li>
            <li>Volumen de visitas: moderado</li>
        </ul>
        <p class="price">$999/mes</p>
        <a href="#" class="btn">Comprar</a>
    </div>
    
</div>

<div class="container">
    <div class="plan">
        <h2>Plan Intermedio</h2>
        <p>Lo mejor del premium a un mejor precio.</p>
        <p>Características:</p>
        <ul>
            <li>10 anuncios destacados</li>
            <li>Plan de renovacion automatica</li>
            <li>Volumen de visitas: Medio</li>
        </ul>
        <p class="price">$1499/mes</p>
        <a href="#" class="btn">Comprar</a>
    </div>
    
</div>

<div class="container">
    <div class="plan">
        <h2>Plan Premium</h2>
        <p>Lo mejor que podemos ofrecer y mas.</p>
        <p>Características:</p>
        <ul>
            <li>Anuncios destacados ilimitados</li>
            <li>Plan de renovacion automatica</li>
            <li>Volumen de visitas: Maximo</li>
        </ul>
        <p class="price">$2999/mes</p>
        <a href="#" class="btn">Comprar</a>
    </div>
    
</div>


</div>
<app-footer></app-footer>