<app-navmenu></app-navmenu>
<div class="horizontal-line"></div>
<app-carrusel></app-carrusel>
<app-search></app-search>
<app-pagina3></app-pagina3>
<app-content></app-content>
<app-conocenos></app-conocenos>
<app-descarga></app-descarga>
<app-footer></app-footer>
<app-barralateralmenu></app-barralateralmenu>



<!--<app-formu3></app-formu3>
<app-formu4></app-formu4>-->


 <!--<app-registrocompleto></app-registrocompleto>-->


 <!--<app-subirimagenes></app-subirimagenes>-->



<!--<app-brokerpage1></app-brokerpage1>-->



<!--<h1> Pagina1</h1>
<button (click)="navegar()">Navegar en la pagina2</button>-->