
<div class="button-container">
  <button mat-flat-button>
    <img src="assets/Nuevos_Departamentos_En_Renta.png" alt="Descripción de la imagen 1">
    <h3>Nuevos departamentos en renta</h3>
  </button>
  <button mat-flat-button>
    <img src="assets/Bajo_Precio.png" alt="Descripción de la imagen 2">
   <h3>Inmuebles de bajo precio</h3> 
  </button>
  <button mat-flat-button>
    <img src="assets/vistos.png" alt="Descripción de la imagen 3">
    <h3>Renta de departamentos mas vistos</h3>
  </button>
  <button mat-flat-button>
    <img src="assets/Publicados.png" alt="Descripción de la imagen 4">
    <h3>Inmuebles recien publicados</h3>
  </button>
</div>













<!-- <div class="button-container">
  <button  mat-flat-button  class="image-button">
    <img class="image" src="assets/17.png" alt="">
    <span> <h3>Renta de departamentos mas vistos</h3> </span>
  </button>
  <button  mat-button  class="image-button" >
    <img class="image" src="assets/15.png" alt="">
    <span><h3>Inmuebles recien publicados</h3></span>
  </button>
  
  <button  mat-button class="image-button" >
    <img class="image1" src="assets/19.png" alt="">
    <span><h3>Inmuebles de bajo precio</h3></span>
  </button>
      
  <button  mat-button  class="image-button" >
    <img class="image" src="assets/18.png" alt="">
    <span><h3>Nuevos departamentos en renta</h3></span>
  </button>
   </div> -->






























<!-- <div class="button-container">
  <button  mat-button  >
    <img   src="assets/Nuevos_Departamentos_En_Renta.png" alt="Descripción de la imagen 1">
    Button 1
  </button>
  <button  mat-button>
    <img   src="assets/Bajo_Precio.png" alt="Descripción de la imagen 2">
    Button 2
  </button>
  <button   mat-button>
    <img   src="assets/vistos.png" alt="Descripción de la imagen 3">
    Button 3
  </button>
  <button  mat-button>
    <img  src="assets/Publicados.png" alt="Descripción de la imagen 4">
    Button 4
  </button>
</div> -->
















