<h2> Propiedades que te pueden interesar </h2>
 <div class="button-container">
   <button class="image-button"(click) = "Bus()">
     <img class="image" src="assets/17.png" alt="">
     <span> <h3>Renta de departamentos mas vistos</h3> </span>
   </button>
   <button class="image-button" (click) = "Bus()">
     <img class="image" src="assets/15.png" alt="">
     <span><h3>Inmuebles recien publicados</h3></span>
   </button>
   
   <button class="image-button" (click) = "Bus()">
     <img class="image1" src="assets/19.png" alt="">
     <span><h3>Inmuebles de bajo precio</h3></span>
   </button>
       
   <button class="image-button" (click) = "Bus()">
     <img class="image" src="assets/18.png" alt="">
     <span><h3>Nuevos departamentos en renta</h3></span>
   </button>
    </div>
