.button-container {
  display: flex;
  flex-direction: row; /* Alinea los botones horizontalmente */
  justify-content: space-between; /* Espacio igual entre los botones */
  margin-top: 300px;
 

}

button {
  display: flex;
  flex-direction: column; /* Coloca la imagen encima del texto */
  align-items: center; /* Centra horizontalmente */
   border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 250px;

}

button img {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que el botón */
  margin-top: 90px; /* Espacio entre la imagen y el texto */
}
