* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.container {
    display        : flex;
    justify-content: center;
}

app-estatus {
    width: 100%;
    float: left;
}

.main-container {
    display        : flex;
    justify-content: center;
}

.sub_container {
    width   : 85%;
    border  : 1px solid #eee;
    overflow: hidden;
}

app-estatus {
    width: 30%;
    float: left;
}

.movi {
    width: 70%;
    float: left;
}

.movi form {
    width     : 80%;
    height    : 150vh;
    border    : 1px solid #ccc;
    padding   : 50px;
    box-sizing: border-box;
    margin    : 0 auto;

}

.movi h1 {
    width     : 100%;
    text-align: center;
    font-size : 40px;
}

.movi h2 {
    font-size : 30px;
    text-align: center;
}

.movi,
h4 {
    text-align: left;

}

.movi h4 {
    font-size  : 20px;
    font-weight: 500;

}

.movi h3 {
    font-size: 17px;
}


.radio-tile-group {
    width  : 100%;
    display: flex;

}



input {
    width : 50px;
    height: 40px;

}



table {
    width: 450px;
}


.ordenatext {
    width: 280px;
}

.ordenatext1 {
    width: 150px;
}


select {
    width : 250px;
    height: 40px;
}


.butto {
    width: 185px;
      font-size: 13px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      padding: 0.7em 2em;
      border: 2px solid #07732D;
      border-radius: 2px;
      position: relative;
      background-color:#FFFFFF;
      color: black;
      text-decoration: none;
      transition: 0.3s ease all;
      z-index: 1;
      border-radius: 5px; /* Agrega esquinas redondeadas */
      margin-top: 40px;
      padding: 20px;
    }
    
   .butto:before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #07732D;
      z-index: -1;
    }
  
    .butto:hover {
      cursor: pointer;
    }
    
    .butto:hover, .butto:focus {
      color: 	#FFFFFF;
    }
    
    .butto:hover:before, .butto:focus:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
    
    butto:active {
      transform: scale(0.9);
    }
    
