<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="content.component.css">
</head>
<body>
	<div class="container">
		<div class="box">
			<div class="imgBox">
				<img src="assets/equipo.png" alt="">
			</div>
			<div class="details">
				<div class="content">
				 <p>Un equipo de asesores te guiará durante todo
                   el proceso de compra, asegurando la mejor
                   experiencia del mercado</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="imgBox">
				<img src="assets/apoyo.png" alt="">
			</div>
			<div class="details">
				<div class="content">
					
					<p>Tenga la seguridad de que
                  estamos aquí para ayudarle a realizar
                  la mejor inversión de forma rápida y sencilla</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="imgBox">
				<img src="assets/casita.png" alt="">
			</div>
			<div class="details">
				<div class="content">
					
					<p>Encuentra propiedades
                 en venta y preventa en las
                  mejores ubicaciones.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
