<app-barralateralmenu></app-barralateralmenu>
<app-mainsection>

    <div id="containerperfil">
    </div>
    <div id="containerbarra">
    </div>
    <div id="menuperfil">
        <div id="">

        </div>
    </div>
    <div id="datosperfil">
        <table >

            <tr>
                <th>
                    <h3 id="ordenatext">Nombre</h3>
                </th>
                <th>
                    <h3 id="ordenatext">Apellido</h3>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" size="30" maxlength="60" value="Nombre" name="nombre">
                </th>
                <th>
                    <input type="text" size="30" maxlength="60" value="Nombre" name="nombre">
                </th>
            </tr>

            <tr>
                <th>
                    <h3 id="ordenatext">Nombre</h3>
                </th>
                <th>
                    <h3 id="ordenatext">Genero</h3>
                </th>

            </tr>
            <tr>
                <th>
                    <input type="text" size="30" maxlength="60" value="Nombre" name="nombre">

                </th>
                <th >
                    <label><input  type="checkbox" id="cbox1" value="first_checkbox" />M</label>
                    <label><input  type="checkbox" id="cbox1" value="first_checkbox" />F</label>
                </th>
               
            </tr>
            <tr>
                <br>
            <th>
                <button type="button">Sube tu documento</button>
            </th>
        </tr>



        </table>
    </div>





</app-mainsection>