

    <div class="contentconocenos">
        <div class="conocenostext">
            <h3>INMOPLUS NACE POR LA EXPERIENCIA</h3>
           <p>InmoPlus es un producto creado gracias a la experiencia del Sr. Bo Wallsten, Profesional Inmobiliario desde 1965 destinado para facilitar a los agentes y brokers la comunicación con los propietarios dueños de los inmuebles que le encominedan su promoción para venta o renta.</p>
           <button  (click) = "Conoce()"class="button type1">
            <span class="btn-txt">Conocenos</span>
          </button>
        </div>
        <div class="conocenosimg">
          <img src="../../../assets/conocenos.png">
        </div>
    </div>

