<app-barralateralmenu></app-barralateralmenu>
<app-mainsection>
    <div class="info_profile">
        <h2>Perfil</h2>
        <div class="info_cuenta">
            <p>Pedrito perez</p>
            <img src="#" alt="">
        </div>
    </div>
    <div class="main_container">
        <div class="green_Bar">

        </div>
        <div class="edit_section">
            <div class="option_profile">
                <div class="image_profile">
                    <img src="" alt="">
                </div>
                <div class="name_profile">
                    <p>Pedrito Perez</p>
                </div>
                <div class="menu_options">
                    <ul>
                        li<
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-mainsection>
