
<!--Container Start-->
<!--Jumbotron-->
<div class="container-fluid">
    <div class="p-5 text-left bg-image rounded-3 img-jumbotron" >
      <div class="div-jumbo">
        <div class="d-flex justify-content-left align-items-left h-100 m-3">
          <div class="text-white">
            <h1 class="mb-3 display-4">Bienvenidos a InmoPlus</h1>
            <h4 class="mb-3 lead">Somos una empresa comprometida con los clientes que buscan el bienestar para su familia</h4>
          </div>
        </div>
      </div>
    </div>
    <!--Title-->
    <div class="container-fluid">
      <h1 class="p-4 justify-content-center text-center text-body-secondary">Conócenos</h1>
    </div>
    <!--Banners-->
    <!--Historia-->
    <div class="container-fluid">
      <div class="card mb-6 border border-3 border-success card-banner">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/Historia.jpeg" class="img-fluid rounded-start rounded-end img-card">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title display-6 text-center">Historia</h5>
              <p class="card-text h4 text-center">Hace unos años se buscba una alternativa mejor para el mercado dentro del negocio de las inmobiliarias y con esto resulto con la Creación de InmoPlus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="p-4"></div>
    
    <!--Ética-->
    <div class="container-fluid">
      <div class="card mb-6 border border-3 border-success card-banner">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title display-6 text-center">Ética</h5>
              <p class="card-text h4 text-center">Nosotros contamos con el compromiso de obtener una solución a las necesidades que estan buscando para ti y tu familia.</p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/Etica.jpg" class="img-fluid rounded-start rounded-end img-card">
          </div>
        </div>
      </div>
    </div>
    
    <div class="p-4"></div>
    
    <!--Soporte Legal-->
    <div class="container-fluid">
      <div class="card mb-6 border border-3 border-success card-banner">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/Soporte-Legal.jpg" class="img-fluid rounded-start rounded-end img-card">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title display-6 text-center">Soporte Legal</h5>
              <p class="card-text h4 text-center">Nosotros contamos con los estándares previamente autorizados ante cualquier notario público, para el correcto proceso de asignación.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="p-4"></div>
    
    <!--Alianza Estratégica-->
    <div class="container-fluid">
      <div class="card mb-6 border border-3 border-success card-banner">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title display-6 text-center">Alianza Estratégica</h5>
              <p class="card-text h4 text-center">Nosotros contamos con los permisos otorgados por la Asociación Mexicana de Profesionales Inmobiliarias, A.C</p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/Alianza.png" class="img-fluid rounded-start rounded-end img-card">
          </div>
        </div>
      </div>
    </div>
    <div class="p-4"></div>
    
    
    </div>
