.img-card {
    background-size: 100% 100%;
    width:100% !important; 
    height:100% !important;
}

.card-banner {
    max-width: 100%;
}

.footer-header{
    color: green; 
    background-color: green; 
    height: 75px;
}

.img-jumbotron {
    background-size: 100% 100%; 
    /* background-image: url('assets/Banner-Cover.webp');  */
    height: 450px; 
    max-width:100%;
}

.div-jumbo {
    background-color: rgba(0, 0, 0, 0.6);
}