<app-navmenu></app-navmenu>
<div class="divider"></div>


<div class="container">
    <div class="part1">
        <button class="btn btn-outline-success me-2"><img class="backarrow"> Regresar</button>
        <h2>Nombre del Inmueble</h2>
    </div>
    <div class="details">
        
        <div class="image-container">
            <img src="assets/6.jpg" alt="Inmueble">
            
        </div>
        <p>Lugar: Ciudad, País</p>
        <p>Precio: $1,000,000</p>
        <p>Descripción:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, felis in maximus suscipit, tellus quam accumsan justo.</p>
        <h3>Características Generales</h3>
        <ul>
            <li>Característica 1</li>
            <li>Característica 2</li>
            <li>Característica 3</li>
            <!-- Agrega más características si es necesario -->
        </ul>
    </div>
</div>