<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<app-navmenu></app-navmenu>
<div class="divider"></div>


<div class="container">
    <div class="part1">
        <button  (click) = "regresa()" class="btn btn-outline-success me-2"><img class="backarrow"> Regresar</button>
        <h2>Nombre del Inmueble</h2>
    </div>


    <div class="details">
        
        <div class="image-container">
            <img src="assets/6.jpg" alt="Inmueble">  
        </div>
        <div class="container">
            <h2>Contactar Agente</h2>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="comentarios">Comentarios:</label>
                    <textarea id="comentarios" name="comentarios"></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>


    </div>

    
    <p>Lugar: Ciudad, País</p>
    <p>Precio: $1,000,000</p>
    <p>Descripción:</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, felis in maximus suscipit, tellus quam accumsan justo.</p>
    <h3>Características Generales</h3>
    <ul>
        <li>Característica 1</li>
        <li>Característica 2</li>
        <li>Característica 3</li>
        <!-- Agrega más características si es necesario -->
    </ul>

    
</div>