<app-barralateralmenu></app-barralateralmenu>

<header>
    <h1>Asignar/Reasignar Inventario</h1>
</header>
<main>
    <form>
        <label for="inventario">Seleccione un Inventario:</label>
        <select id="inventario" name="inventario">
            <option value="inventario1">Inventario 1</option>
            <option value="inventario2">Inventario 2</option>
            <!-- Agregar más opciones de inventario según sea necesario -->
        </select>

        <label for="cliente">Seleccione un Cliente:</label>
        <select id="cliente" name="cliente">
            <option value="cliente1">Cliente 1</option>
            <option value="cliente2">Cliente 2</option>
            <!-- Agregar más opciones de cliente según sea necesario -->
        </select>

        <button type="submit">Asignar</button>
    </form>
</main>
