<!-- <app-barralateralmenu></app-barralateralmenu> -->
<h1>Lista de Inventarios</h1>
    <div class="inventory-list">
        <div class="inventory-item">
            <h2>Inventario 1</h2>
            <p>Descripción: Este es el primer inventario.</p>
            <p>Cantidad: 100 unidades</p>
        </div>
        <div class="inventory-item">
            <h2>Inventario 2</h2>
            <p>Descripción: Este es el segundo inventario.</p>
            <p>Cantidad: 75 unidades</p>
        </div>
        <div class="inventory-item">
            <h2>Inventario 3</h2>
            <p>Descripción: Este es el tercer inventario.</p>
            <p>Cantidad: 50 unidades</p>
        </div>
        <!-- Agrega más elementos de inventario según sea necesario -->
    </div>
