<app-menu-usuario></app-menu-usuario>
<div class="main-container">
    <div class="sub_container">
        <app-stes-progress></app-stes-progress>

        <app-estatus></app-estatus>
        <div class="movi">
            <h2>!Qué tal Username¡</h2>
            <form>
                <h4>Caracteristicas principales</h4>
                <br>
                <div class="container">
                    <div class="radio-tile-group">
                        <div class="input-container">


                            <table class="medidast">

                                <tr>
                                    <th>
                                        <h3 class="ordenatext">Num. de recamaras</h3>
                                    </th>
                                    <th><input type="number" id="tentacles" name="tentacles" value="1" min="1"
                                            max="5" /></th>
                                    <th>
                                        <h3 class="ordenatext1">Num. de baños</h3>
                                    </th>
                                    <th><input type="number" id="tentacles" name="tentacles" value="1" min="1"
                                            max="5" /></th>
                                </tr>
                            </table>

                            <table>

                                <tr>
                                    <th>
                                        <h3 class="ordenatext3">Medio baños</h3>
                                    </th>
                                    <th><input type="number" id="tentacles" name="tentacles" value="1" min="1"
                                            max="5" /></th>
                                    <th>
                                        <h3>Estacionamiento</h3>
                                    </th>
                                    <th><input type="number" id="tentacles" name="tentacles" value="1" min="1"
                                            max="5" /></th>
                                </tr>
                            </table>
                            <br>
                            <h4>Caracteristicas Principales</h4>
                            <table >
                                <tr>

                                    <th>
                                        <h3 class="ordenatext4">Metros Construidos </h3>
                                    </th>
                                    
                                    <th>
                                        <h3 class="ordenatext5">Metros del Terreno</h3>
                                    </th>
                                    
                                </tr>
                                <tr>

                                    <th >
                                        <select name="select">
                                            <option value="value1">Mtrs 2</option>
                                            <option value="value2" selected>Ha</option>
                                            </select>
                                        <input type="text" size="15" maxlength="30" value="" name="nombre">
                                    </th>

                                    <th >
                                        <select name="select">
                                        <option value="value1">Mtrs 2</option>
                                        <option value="value2" selected>Ha</option>
                                        </select>
                                        <input type="text" size="15" maxlength="30" value="" name="nombre">
                                </th>
                                </tr>
                            </table>
                            

                            
                            <br>
                            <h4>Antigüedad</h4>
                            <input class="tamañoradio" name="intereses" type="radio" value="rbipeliculas"/>Por estrenar
                            <br />
                            <input class="tamañoradio" name="intereses" type="radio" value="rbilibros" />Antigüedad
                            <br />
                            <input class="tamañoradio" name="intereses" type="radio" value="rbiinternet"
                                checked="checked" />En construccion
                            <br>
                            <br>
                            <h4>Describe brevemente tu inmueble </h4>
                            <h4>Titulo</h4>
                            <input class="tamaño" type="text" size="15" maxlength="30" value="Titulo de tu anuncio"
                                name="nombre">
                            <br>
                            <br>
                            <h4>Descripción</h4>

                            <textarea name="comentarios" rows="15" cols="70">Descripción para el anuncio</textarea>
                        </div>

                    </div>
                </div>
                <br>
                <br>
                <!--<button (click) = "For2()"class="butto">Continuar</button>-->
            </form>

        </div>

    </div>

</div>
<app-footer></app-footer>