<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/src/app/components/visualtour/visualtour.component.css">

<div class="contenido">
    <div class="titulo">
        <h3 class="mb-0 ml-3">¡HAZ UN RECORRIDO VIRTUAL DE TU PROXIMA (CASA)!</h3>
    </div>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <iframe src="https://scannen.mx/3d-model/recorrido-virtual-3d-kyo-midtown-803/skinned/" width="80%" height="750"></iframe>
</div>
</div>
