h3{ /* Cambiar a h6 xd porfis */
    color:black;/* Color de texto */
    font-size: 16px; /* Tamaño de fuente */
     font-weight: bold; /* Peso de fuente */
    text-align: center; /* Alineación de texto */
    margin-top: 9px;
  
  
  }
  
  /* Estilo básico para todos los elementos <p> */
  p {
    font-size: 25px; /* Tamaño de fuente */
    line-height: 1.5; /* Espaciado entre líneas */
    color: black; /* Color del texto */
    margin: 10px 0; /* Márgenes superior e inferior */
    font-weight: bold; /* Texto en negrita */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .imagen_Descarga{
     
      width: 10%; /* Asegura que las imágenes no se desborden de su contenedor */
      height: 10%; /* Mantiene la proporción de aspecto original de la imagen */
     /* display: block; /* Elimina el espacio adicional debajo de la imagen */
     /* margin: 40px ; /* Centra la imagen horizontalmente dentro de su contenedor */
      /*display: flex;
      justify-content: space-between; /* Distribuye el espacio horizontalmente entre las imágenes */
      /*margin-right:5px;*/
  
  }
  .imagenmanzana{
    width: 43%; /* Asegura que las imágenes no se desborden de su contenedor */
    height: 30%;
  
  }
  
  .gif{
    float: left;
  }
  
  .tex{
  float: right;
  text-align: center;
  
  margin-left: 300px;
  
  
  
  }
  .footer{
    display:flex;
  
  }
  