
<app-menu-usuario></app-menu-usuario>

<app-estatus></app-estatus>
<app-stes-progress></app-stes-progress>





<div class="movi">

<form>
    <h1>¿Qué vas a realizar?</h1>

    <h4>Tipo de operación</h4>
    <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input id="vender" class="radio-button" type="radio" name="radio">
            <div class="radio-tile">
              
              <label for="vender" class="radio-tile-label">Vender</label>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-container">
            <input id="rentar" class="radio-button" type="radio" name="radio">
            <div class="radio-tile">
            
              <label for="rentar" class="radio-tile-label">Rentar</label>
            </div>
          </div>
          
         
        </div>
      </div>
      <br>
      <br>
<h4>Tipo de inmmueble</h4>
    <select name="language" img>
        <option value="es">Casa</option>
        <option value="en">Departamento</option>
    </select>

    <button class="butto">Continuar</button>
  </form>
 

</div>

<app-footer></app-footer>