<!--
<app-menu-usuario></app-menu-usuario>
<div class="main-container">
    <div class="sub_container">
      <app-stes-progress></app-stes-progress>

<app-estatus></app-estatus>
<div class="movi">
<h1>!Que tal {{name}}</h1>
<form>
    <h2>¿Qué vas a realizar?</h2>

    <h4>Tipo de operación</h4>
    <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input id="vender" class="radio-button" type="radio" name="radio">
            <div class="radio-tile">
              
              <label for="vender" class="radio-tile-label">Vender</label>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-container">
            <input id="rentar" class="radio-button" type="radio" name="radio">
            <div class="radio-tile">
            
              <label for="rentar" class="radio-tile-label">Rentar</label>
            </div>
          </div>
          
         
        </div>
      </div>
      <br>
      <br>
<h4>Tipo de inmmueble</h4>
<div class="container_list">
    <select name="language">
        <option value="es">Casa</option>
        <option value="en">Departamento</option>
        <option value="en">Rancho</option>
        <option value="en">Bodega comercial</option>
        <option value="en">Terreno</option>
        <option value="en">Duplex</option>
        <option value="en">Oficinas</option>
        <option value="en">Edificio</option>
        <option value="en">Nave industrial</option>
    </select>
  </div>

  

    <button (click) = "ngOnInit()"class="butto">Continuar</button>
   </form>
 
</div>
</div>
</div>

<app-footer></app-footer>-->



<div class="registrar-dialog">
    <h1 mat-dialog-title>FORMULARIO</h1>
    <div mat-dialog-content>
      <form class="registrar-dialog-content" [formGroup]="formInmueble" (click)="sendData()">
        <mat-form-field appearance="fill">
          <mat-label>
           <mat-icon>house</mat-icon> <b>Seleccione una tipo de inmueble</b></mat-label>
          <mat-select formControlName="Id_Tipo_Inmueble">
           <mat-option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.formInmueble.get('idTipoInmueble')?.hasError('required')">
           Elija una opción es <strong>obligatorio</strong>
          </mat-error>
         </mat-form-field>
         <button mat-button type="submit" [class.spinner]="loading" [disabled]="loading" color="secondary">
          <span>{{ loading ? 'Cargando...' : 'Registrar' }}</span>
          </button><br>
          
    </form>

    
   
  </div>
  </div>
  