*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
  }

  app-estatus {
    width: 100%;
    float: left;
  }

  .main-container {
    display: flex;
    justify-content: center;
  }

  .sub_container {
    width: 85%;
    border: 1px solid #eee;
    overflow: hidden;
  }

  app-estatus {
    width: 30%;
    float: left;
  }
  
  .movi {
    width: 70%;
    float: left;
  }

  .movi form {
    width: 50%;
    border: 1px solid #ccc;
    padding: 50px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .movi h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
  }

  .movi h2 {
    font-size: 30px;
  }

  .movi h2, h4{
    text-align: center;
  }

  .movi h4 {
    font-size: 20px;
  }


  .radio-tile-group {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .radio-tile-group .input-container {
    position: relative;
    height: 20px;
    width: 60px;
    margin: 0.5rem;
  }
  
  .radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
  
  .radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #409A42 ;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
  }
  

  
  .radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black ;
  }
  
  .radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #409A42 ;
    border: 2px solid #409A42 ;
    color: #409A42 ;
    transform: scale(1.1, 1.1);
  }
  
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
    fill: white;
    background-color: #409A42 ;
  }
  
  .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
    background-color: #409A42 ;
  }

  .radio-tile-label {
    padding: 10px;
  }

  .container_list {
    text-align: center;
  }

  select {
    display: inline-block;
    appearance: none;
    padding: 15px 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: white;
    color: black;
    font-size: 18px;
}
 
select:focus {
    outline: none;
}

select:hover {
  cursor: pointer;
}

.butto {
  width: 185px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 2px solid #07732D;
    border-radius: 2px;
    position: relative;
    background-color:#FFFFFF;
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 5px; /* Agrega esquinas redondeadas */
    margin-top: 40px;
    padding: 20px;
  }
  
 .butto:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #07732D;
    z-index: -1;
  }

  .butto:hover {
    cursor: pointer;
  }
  
  .butto:hover, .butto:focus {
    color: 	#FFFFFF;
  }
  
  .butto:hover:before, .butto:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  butto:active {
    transform: scale(0.9);
  }

  .insertar-dialog h1 {
    text-align: center;
    font-weight: 500;
}

.registrar-dialog{
  width: 60%;
  height: 50vh;
  background-color: #95b0d124;
  margin-left: 15%
}


.registrar-dialog-content mat-form-field {
    background-color: transparent !important;
    width: 100%;
    margin: 10px 0px;
    /* input {
        color: black;
    } */
}

.registrar-dialog-content input {
color: black;
}
.registrar-dialog-content  button {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 3% !important;
}

.registrar-dialog-content  button:disabled {
span {
    color: #9a8d8d;
}
}
::ng-deep {
.mat-form-field.mat-focused .mat-form-field-label {
    color: #0c6291f7 !important;
}
}

@keyframes spinner {
to {
    transform: rotate(360deg);
}
}


section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.registrar-dialog h1 {
  text-align: center;
font-weight: 500;
  }
  .registrar-dialog-content mat-form-field {
background-color: transparent !important;
   width: 100%;
   margin: 10px 0px;
  }
  .registrar-dialog-content mat-form-field input {
   color: black;
  }
  .registrar-dialog-content button {
   display: block;
   width: 100%;
   margin: auto;
   margin-bottom: 3% !important;
  }
  

  .insertar-dialog-content  button {
     display: block;
     width: 100%;
     margin: auto;
     margin-bottom: 3% !important;
    }
    .insertar-dialog-content  button:disabled {
     span {
     color: #9a8d8d;
     }
    }
    ::ng-deep {
     .mat-form-field.mat-focused .mat-form-field-label {
     color: #0c6291f7 !important;
     }
    }
    @keyframes spinner {
     to {
     transform: rotate(360deg);
     }
    }
    .spinner:before {
     content: '';
     box-sizing: border-box;
     position: absolute;
     top: 50%;
     left: 36%;
     width: 20px;
     height: 20px;
     margin-top: -10px;
     margin-left: -10px;
     border-radius: 50%;
     border: 2px solid #ffffff;
     border-top-color: #0c6291f7;
     animation: spinner 0.6s ease-out infinite;
    }