
<app-menu-usuario></app-menu-usuario>
<div class="main-container">
    <div class="sub_container">
      <app-stes-progress></app-stes-progress>

<app-estatus></app-estatus>
<div class="movi">
<h1>!Que tal {{name}}</h1>
<form>
    <h2>¿Qué vas a realizar?</h2>

    <h4>Tipo de operación</h4>
    <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input id="vender" class="radio-button" type="radio" name="radio">
            <div class="radio-tile">
              
              <label for="vender" class="radio-tile-label">Vender</label>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-container">
            <input id="rentar" class="radio-button" type="radio" name="radio">
            <div class="radio-tile">
            
              <label for="rentar" class="radio-tile-label">Rentar</label>
            </div>
          </div>
          
         
        </div>
      </div>
      <br>
      <br>
<h4>Tipo de inmmueble</h4>
<div class="container_list">
    <select name="language">
        <option value="es">Casa</option>
        <option value="en">Departamento</option>
        <option value="en">Rancho</option>
        <option value="en">Bodega comercial</option>
        <option value="en">Terreno</option>
        <option value="en">Duplex</option>
        <option value="en">Oficinas</option>
        <option value="en">Edificio</option>
        <option value="en">Nave industrial</option>
    </select>
  </div>

    <button (click) = "For4()"class="butto">Continuar</button>-->
  </form>
 
</div>
</div>
</div>
<app-footer></app-footer>