<app-barralateralmenu></app-barralateralmenu>
<app-mainsection>
    <div id="containerperfil">
    </div>
    <div id="containerbarra">
    </div>
    <div class="main_section">
        <div id="menuperfil">
            <div id="fotoperfil">
            <img id="foto"src="../../../assets/perfil.png">
            </div>
            <h4>Juanito Perez</h4>
            <div>
                <ul>
                    <li><a href="#">Informacion Personal</a></li>
                    <li><a href="#">Informacion de contacto</a></li>
                    <li><a href="#">Tu experiencia</a></li>
                    <li><a href="#">Eliminar Perfil</a></li>
                </ul>
            </div>
        </div>

    <div id="datosperfil">     
         <div class="first_content">
            <h3>Sobre ti</h3>
            <textarea id="aboutyou" cols="30" rows="10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit mollitia atque dolores impedit dicta, repellat consequuntur rem quia vel rerum sed veritatis id ipsam ut nesciunt autem distinctio odio? Fuga voluptatum ducimus dolores quis illum architecto at fugit numquam deleniti, tempore accusamus alias et explicabo quaerat maxime voluptatem blanditiis.
            </textarea>
            <div class="certifies">
                <h3>Certificaciones y cursos</h3>
                <div class="cards_certifies">
                    <p>Curso de broker</p>
                </div>
                <div class="cards_certifies">
                    <p>Certificacion de broker</p>
                </div>
            </div>
            <button id="actual">Actualizar</button>
         </div>
         <div class="second_content">
            <h3>experiencia</h3>
            <div class="cards_experience">
                <p>Certificacion de broker</p>
            </div>
            <div class="cards_experience">
                <p>Certificacion de broker</p>
            </div>
            <h3>Historial de ventas</h3>
            <div class="sales_section">
                <div class="sale">
                    <div class="image">
                        <img src="assets/6.jpg" alt="" width="150px">
                    </div>
                    <div class="info_sale">
                        <h4>Moderna casa en puebla</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quo.</p>
                    </div>
                </div>
                <div class="sale">
                    <div class="image">
                        <img src="assets/6.jpg" alt="" width="150px">
                    </div>
                    <div class="info_sale">
                        <h4>Moderna casa en puebla</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quo.</p>
                    </div>
                </div>
                
            </div>
         </div>
    </div>
        
        
        
    </div>
</app-mainsection>