
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <br>
    <br>
    <form >
        &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img class="img-logo" src="assets/app.png" alt="Logo de la aplicación">
        <br>
        <br>
        <h2>Resgistra tus Datos</h2>
        <br>

  
    <br>
    <br>
        <label  class="custom-label" for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" required><br>

        <label  class="custom-label" for="apellido_paterno">Apellido Paterno:</label>
        <input type="text" id="apellido_paterno" name="apellido_paterno" required><br>

        <label class="custom-label" for="apellido_materno">Apellido Materno:</label>
        <input type="text" id="apellido_materno" name="apellido_materno" required><br>

        <label class="custom-label" for="curp">CURP:</label>
        <input type="text" id="curp" name="curp" required><br>

        <label class="custom-label" for="nombre_usuario">Nombre de Usuario:</label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" required><br>

        <label class="custom-label" for="rfc">RFC:</label>
        <input type="text" id="rfc" name="rfc" required><br>

        <label class="custom-label" for="telefono_casa">Teléfono de Casa:</label>
        <input type="tel" id="telefono_casa" name="telefono_casa"><br>

        <label  class="custom-label" for="telefono_celular">Teléfono Celular:</label>
        <input type="tel" id="telefono_celular" name="telefono_celular" required><br>

        <div class="container">
            <button  class="button"        type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>
