<app-navmenu></app-navmenu>

<div>
    <div class="fondodes">
        <div class="contendordescar">
            <h4>InmoPlus</h4>
            <h3>Una app facil de usar</h3>
        </div>
    </div>


    <div class="titulodes">
        <h4> INCREMENTA TU PRODUCTIVIDAD </h4>
    </div>
    <div class="tituloincrementa">
    </div>




    <div class="subcribete">
        <div class="descaragente">
            <img src="assets/agenteinmobiliario.jpg">
            <h4>InmoPlus para Agentes</h4>
            <h3>$249 al mes o 2,000 al año</h3>
            <button name="button"> suscribase hoy </button>
            
        </div>

        <div class="descarga">
            <img src="assets/dueño.jpg">
            <h4>InmoPlus para el Dueño </h4>
            <h3>GRATIS</h3>
            

            <button name="button"> DesacargaApp </button>
        </div>

        <div class="descarbroker">
            <img src="assets/Brokers1.png">
            <h4>InmoPlus para Brokers</h4>
            <h3>$249 al mes o 2,000 al año</h3>
            <button name="button"> suscribase hoy </button>
        </div>
    </div>
</div>


