<app-navmenu></app-navmenu>

<div>
    <div class="fondodes">
        <div class="contendordescar">
            <h4>InmobeWise</h4>
            <h3>Una app facil de usar</h3>
        </div>
    </div>


    <div class="titulodes">
        <h4> INCREMENTA TU PRODUCTIVIDAD </h4>
    </div>
    <div class="tituloincrementa">
    </div>




    <div class="subcribete">
        <div class="descaragente">
            <img src="assets/agenteinmobiliario.jpg">
        </div>

        <div class="descarga">
            <img src="assets/dueño.jpg">    
        </div>

        <div class="descarbroker">
            <figure><img src="assets/Brokers1.png"></figure>    
        </div>

        <div class="descargaagentetext">
            <h4>InmobeWise para Agentes</h4>
            <h3>$249 al mes o 2,000 al año</h3>
            <button mat-button> Suscribase hoy </button>
        </div>

        <div class="descargatext">
            <h4>InmobeWise para el Dueño </h4>
            <h3>GRATIS</h3>
            
            <button mat-button> Desacarga App </button>
        </div>
        
        <div class="descarbrokertext">
            <h4>InmobeWise para Brokers</h4>
            <h3>$249 al mes o 2,000 al año</h3>
            <button mat-button> Suscribase hoy </button>
        </div>
    </div>
</div>


