<div class="transparent-background">

    <img  class="imagen" src="assets/logo.png">
    <br>
    <br>
    <br>
    <br>	
    <br>
    <br>	
    <br>
    <br>	
     
       <h1> ¿Con qué descripción te identificas? </h1> 
       <h2> Elige la opción que mejor se adapte a tus gustos. </h2> 
       <br>
       <br>	
       
   &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; <img  class="ima" src="assets/Casa3.png">&nbsp;
    
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img  class="ima" src="assets/arquitecto.png">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img  class="ima" src="assets/agente.png">
       <br>
       <br>
       
   
       

     <button (click) = "Formu1()" class="butto" >Particular <br> 
     Dueño Directo</button>
   
       
       
   
   
           <button   (click) = "Formu1()"  class="butto">Particular<br> Dueño Directo</button>
       
       
 
 
   
       <button  (click) = "Formu1()"  class="butto" >Constructora <br> Desarrolladora</button>
   
   
       
   </div>

