/* Estilos generales de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del contenedor con fondo transparente */
.transparent-background {
    background-color: rgba(255, 255, 255, 0.7); /* Define el color de fondo con transparencia */
    width: 80%; /* Define el ancho de tu interfaz */
    max-width: 800px; /* Establece un ancho máximo si lo deseas */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Agrega espacio alrededor del contenido */
    border-radius: 10px; /* Agrega esquinas redondeadas si lo deseas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra para destacar el contenedor */
}
.imagen {
 width: 300px; /* Ajusta el ancho de la imagen según tus necesidades */
       height:150px;
 
}
/* Estilo para h1 */
h1 {
    font-size: 36px; /* Tamaño de fuente */
    color:#044504 ;    /* Color de texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Alineación de texto al centro */
    /* Puedes agregar más propiedades de estilo según tus preferencias */
    margin-top: 20px; /* Espacio superior */
    /* ... */
}
h2 {
    font-size: 20px; /* Tamaño de fuente */
    color:black ;    /* Color de texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Alineación de texto al centro */
    /* Puedes agregar más propiedades de estilo según tus preferencias */
    margin-top: 20px; /* Espacio superior */
    /* ... */
}

.ima{
	
	 width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
       height:150px;
	   
	
	
	
	
}
.butto {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #07732D;
    border-radius: 2px;
    position: relative;
    background-color:#FFFFFF;
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 5px; /* Agrega esquinas redondeadas */
    margin-left: 60px;
  }
  
 .butto:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #07732D;
    z-index: -1;
  }
  
  .butto:hover, .butto:focus {
    color: 	#FFFFFF;
  }
  
  .butto:hover:before, .butto:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  butto:active {
    transform: scale(0.9);
  }


.butto2{
margin-top:500px;


}

	
	
	


