/* estilos.css */

/* Estilos para centrar la imagen horizontalmente */
.imagen-centrada {
  display: block; /* Convierte la imagen en un elemento de bloque */
  margin: 0 auto; /* Establece el margen izquierdo y derecho como "auto" */
  width: 550px; /* Establece el ancho de la imagen en píxeles o porcentaje */
    height: auto; /* Mantiene la proporción de aspecto original de la imagen */
}




