<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
rel="stylesheet">


<section class="step-wizard">
<ul class="step-wizard-list">
    <li class="step-wizard-item">
        <span class="progress-count">1</span>
        <span class="progress-label">General</span>
    </li>
    <li class="step-wizard-item current-item">
        <span class="progress-count">2</span>
        <span class="progress-label">Imagenes de la
            Propiedad</span>
    </li>
    <li class="step-wizard-item">
        <span class="progress-count">3</span>
        <span class="progress-label">Especificaciones</span>
    </li>
    <li class="step-wizard-item">
        <span class="progress-count">4</span>
        <span class="progress-label">Publlicar</span>
    </li>
</ul>
</section>
