<!-----------CREACION DEL COMPONENTE MENU LATERAL--------->
<aside id="asidebar">
    <ul id="list_menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Configuracion</a>
            <ul id="submenu_config">
                <li><a href="#">Perfil de usuario</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Contraseña</a></li>
                <li><a href="#">Notificaciones</a></li>
            </ul>
        </li>
        <li><a href="#">Programar cita</a></li>
        <li><a href="#">Cerrar sesion</a></li>
    </ul>
</aside>
